@model projeto_apave.Models.Peca

@{
    ViewData["Title"] = "Editar Peça";
}

<h1 class="mb-4">Editar Peca</h1>

<div class="container">
    <form asp-action="EditarPeca" method="post" class="row g-3 needs-validation" novalidate>
        <input type="hidden" asp-for="Id" />

        <div class="col-md-6">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Descricao" class="form-label"></label>
            <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-action="GerenciarPecas" asp-controller="Funcionario" class="btn btn-secondary ms-2">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
